{% extends "base.html" %}
{% block content %}
<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='img/portfolio4/lotto_saved_games.jpg')}}" alt="Mobile Android App View Saved Games">
                </div>

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='img/portfolio4/lotto_games_new_game.jpg')}}" alt="Mobile Android App Create New Game">
                </div>

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='img/portfolio4/lotto_delete_game.jpg')}}" alt="Mobile Android App Delete Game">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Mobile App</li>
                <li><strong>Client</strong>: Software Development for mobile devices</li>
                <li><strong>Project date</strong>: 30 October 2021</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/DavidAustinMackenzie/SDMD-LottoGenerator" target="_blank">Github Link</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Mobile android app createing using Android Studio and Kotlin.</h2>
              <p>
                This was the final custom project that I created for software development for mobile devices. It is used to create random lotto numbers for powerball games. The games are saved to local data in the mobile app, so the user can view the games when the open the app at a later stage.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  {% endblock %}
  