  {% extends "base.html" %}
  {% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="{{ url_for('index') }}">David Mackenzie</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a class="active" href="{{ url_for('resume') }}">Resume</a></li>
          <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="http://www.linkedin.com/in/david-mackenzie-9863b7ba" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>

  </header><!-- End Header -->
  {% endblock %}
  {% block content %}
  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Innovative and deadline-driven software engineer with 2+ years of experience investigating, designing, developing and testing software solutions.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Computer Science (Profesional degree)</h4>
              <h5>Swinburne University of Technology, Hawthorn Campus</h5>
              <p><em>2020 - 2023</em></p>
              <p>I studied hard to achieve the best outcome in a double major of Software Development and Cybersecurity.</p>
            </div>
            <div class="resume-item">
              <h4>Diploma in Software Development</h4>
              <h5>Holmeglen Institute of TAFE, Chadstone Campus</h5>
              <p><em>2017</em></p>
              <p>I worked hard to get the best results in this degree and to ensure that I had a solid foundation in Software Development. I achieved such good results that I was recommended for a help desk position and worked in that role for 18months to gain experience in IT.</p>
            </div>
            <div class="resume-item">
              <h4>Certificate IV in Progamming</h4>
              <h5>Holmeglen Institute of TAFE, Chadstone Campus</h5>
              <p><em>2016</em></p>
              <p>I was passionate about creating software solutions, so I wanted to study full time to further develop these skills that could be used in a professional environment.</p>
            </div>
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Engineer on Software Application Team</h4>
              <h5>ANCA Motion, Bayswater North</h5>
              <p><em>January 2023 - September 2023</em></p>
              <p>
              <ul>
                <li>Continue to fix bugs, implement new features for 3 major versions of Cylindrical Grinding Software applcation</li>
                <li>Creating documentation for new featurers implemented </li>
                <li>Adding functionality to Cylindrical Grinding software in a separate branch for inclined grinding machine, merging changes back to main branch after completion</li>
              </ul>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="resume-item heading-padding">
              <h4>Professional placement</h4>
              <h5>ANCA Motion, Bayswater North</h5>
              <p><em>January 2022 - Janurary 2023</em></p>
              <p>
              <ul>
                <li>Scrum methodology used with 3 week sprints to plan project tasks</li>
                <li>Designed, created, built, documented and tested released version of diagnostic program created using C# and WPF (9 months of development)</li>
                <li>3 Months implemented features and provided support for 2 major versions of custom Cylindrical Grinding Software application. </li>
                <li>Provided training for released software diagnostic tool</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Traffic Controller</h4>
              <h5>Construct Traffic</h5>
              <p><em>August 2021 - December 2021</em></p>
              <p>
              <ul>
                <li>Management and assisting directing of traffic around worksites</li>
                <li>Effective communication between team members on site</li>             
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Technician</h4>
              <h5>MB Autobody Port Melbourne</h5>
              <p><em>January 2016 - January 2021</em></p>
            </div>
            <div class="resume-item">
              <h4>Technician South Melbourne</h4>
              <h5>MB Melbourne</h5>
              <p><em>July 2009 - December 2015</em></p>
            </div>
            <div class="resume-item">
              <h4>Apprentice</h4>
              <h5>MB Melbourne South Melbourne</h5>
              <p><em>July 2005 - July 2009</em></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
  {% endblock %}